<template>
  <div>
    <p v-if="$fetchState.pending">Fetching...</p>
    <p v-else-if="$fetchState.error">Error while fetching</p>
    <ul v-else style="background-color: #eee; min-height: 100px">
      <li v-for="planet in $data.planets" :key="planet.slug">
        <nuxt-link :to="planet.slug">{{ planet.title }}</nuxt-link>
      </li>
    </ul>
  </div>
</template>
<script>
export default {
  name: 'PlanetList',
  async fetch() {
    this.planets = await fetch('https://api.nuxtjs.dev/planets').then((res) =>
      res.json()
    )
  },
  data() {
    return {
      planets: [],
    }
  },
}
</script>
